{% extends 'static_pages/parent.html' %}
{% load static %}
{% block title %} Sign in {% endblock %}
{% block content %} 

<form action="{% url 'accounts:signin' %}" method='POST'>
	{% csrf_token %}
	<div class="sign-wrapper">
		<div class="sign">
			<div class="logo">
				<span class="icon-handshake-icon"><span class="path1"></span><span class="path2"></span></span>
				<p>Вход Qolda</p>
			</div>
			<div class="sign-up">
				<!-- <input type="email" placeholder="Email">
				<input type="password" placeholder="Пароль"> -->
				{{ form }}
				<button type="submit">Войти</button>
				{% if error %}
				<p class="error">{{ error }}</p>
				{% endif %}
				<p>
					<a href="#">Забыли пароль?</a>
				</p>
				<p>Еще нет аккаунта?
					<a href="{% url 'accounts:signup' %}">Зарегистрируйтесь</a>
				</p>
			</div>
		</div>
	</div>
</form>
{% endblock %}

<!--  -->