{% extends 'static_pages/parent.html' %}
{% load static %}
{% block title %} Sign in {% endblock %}
{% block content %} 

	<div class="sign-wrapper">
		<div class="sign">
			<div class="logo">
				<span class="icon-handshake-icon"><span class="path1"></span><span class="path2"></span></span>
				<p>Вход Qolda</p>
			</div>
			<div class="sign-up">
				{% if messages %}
					{% for mess in messages %}
						<div class="alert alert-success">
							{{ mess }}
						</div>
					{% endfor %}
				{% endif %}
				{% if user.is_authenticated %}
					<p>Вы уже авторизованы</p>
					<a href="{% url 'accounts:profile' %}">Профиль</a>
				{% else %}
					<div>
						<h2>Авторизация на сайте</h2>
						<form method="POST">
							{% csrf_token %}
							{{ form }}
							<button type="submit">Войти</button>
						</form>
					</div>
   			{% endif %}
			</div>
		</div>
	</div>
{% endblock %}

<!--  -->