<div class="profile">
   <div class="profile-head">
      <div class="nickname uk-animation-slide-top">
         <div class="overlay">
            <div class="flex">
               <div>
                  <h1>
                     {% if user.get_full_name %}
                        {{ user.get_full_name }}
                     {% else %}
                        {{ user.username }}
                     {% endif %}
                  </h1>
                  <p class="job">
                     {% if user.profile.position %}
                        {{ user.profile.position }}
                     {% else %}
                        Должность(не указана)
                     {% endif %}
                  </p>
               </div>
               <div class="star">
                  <button type="button">
                     <i class="fa fa-star" aria-hidden="true"></i>Stars
                  </button>
                  <span class="quantity-star">{{ user.star.count }}</span>
               </div>
            </div>
            <div class="edit-profile">
               <a href="{% url 'accounts:settings_url' %}" uk-toggle>Редактировать профиль</a>
               <!-- <div id="modal-full" class="uk-modal-full" uk-modal>
                  <div class="uk-modal-dialog">
                     <button class="uk-modal-close-full delete-svg uk-close-large" type="button" uk-close></button>
                     <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                        <div class="edit-profile-box">
                           <h1>Редактировать профиль</h1>

                           <div class="edit-personal">
                              <h2>Личная информация</h2>
                           </div>

                           <hr>

                           <form method="POST" enctype="multipart/form-data">
                              {% csrf_token %}
                              {{ user_form.as_p }}
                              {{ profile_form.as_p }}
                              <div class="edit-save">
                                 <button type="submit">Сохранить</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div> -->
            </div>
         </div>
      </div>
      <nav uk-sticky>
         <div class="responsive-nav">
            <div class="responsive-burger__menu">
               <div class="burger">
                  <span></span>
               </div>
               <div class="responsive-dropdown"
                    uk-dropdown="mode: click; pos: bottom-justify; animation: uk-animation-fade">
                  <ul class="responsive-menu">
                     <li>
                        <a href="{% url 'accounts:profile' %}">Главная
                           <i class="fa fa-home" aria-hidden="true"></i>
                        </a>
                     </li>
                     <li>
                        <a href="{% url 'professions:all' %}">Поиск сотрудников
                           <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                     </li>
                     <li>
                        <a href="{% url 'recommendations:index' %}">Поиск рекомендаций
                           <i class="fa fa-book" aria-hidden="true"></i>
                        </a>
                     </li>
                     <li>
                        <a href="{% url 'accounts:test_url' %}">Профориентационный тест
                           <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </a>
                     </li>
                     <li>
                        <a href="{% url 'accounts:logout' %}">Выход
                           <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="normal-nav">
            <ul class="menu-1">
               <li>
                  <a href="{% url 'accounts:profile' %}">Главная
                     <i class="fa fa-home" aria-hidden="true"></i>
                  </a>
               </li>
               <li class="sub-list">
                  <a href="#">Меню
                     <i class="fa fa-bars" aria-hidden="true"></i>
                  </a>

                  <ul class="submenu">
                     <li>
                        <a href="{% url 'professions:all' %}">Поиск сотрудников
                           <i class="fa fa-users" aria-hidden="true"></i>
                        </a>
                     </li>
                     <li>
                        <a href="{% url 'recommendations:index' %}">Поиск рекомендаций
                           <i class="fa fa-book" aria-hidden="true"></i>
                        </a>
                     </li>
                  </ul>
               </li>
            </ul>
            <div class="ava">
               <div class="ava-photo">
                  <img src="{{ user.profile.img.url }}"
                       alt="">
               </div>
            </div>
            <ul class="menu-2">
               <li>
                  <a href="{% url 'accounts:test_url' %}" title="Профориентационный тест">Проф. тест
                     <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  </a>
               </li>
               <li>
                  <a href="{% url 'accounts:logout' %}">Выход
                     <i class="fa fa-sign-out" aria-hidden="true"></i>
                  </a>
               </li>
            </ul>
         </div>
      </nav>
   </div>
</div>